<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <title>Home</title>
</head>
<body>
    <header>
      <div class="flex container space-between">
        <div>
          <a href="/" class="brand">E-Commerce</a>
        </div>
        <div>
          <a href="/admin/adminProductList" class="btn">ProductList</a>
          <a href="/admin" class="btn">Back</a>
        </div>
      </div>
    </header>
    <main>
      <h1>Welcome to Admin Dashboard</h1>
      <a href="/admin/product/new" class="btn text-center">Create product</a>
    </main>
</body>
</html>