<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style3.css">
  <title>Products List</title>
</head>
<body>
  <header>
    <div class="container flex">
      <a href="/">E-Commerce</a>
      <a href="/admin/product/new" class="create">Create Product</a>
    </div>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Products List</h1>
    </div>
    <div class="container">
        <ul>
          

            <li></li>
            <div class="show">
                <a href="/admin/">Show</a>
            </div>

         
        </ul>
    </div>

  </main>
</body>
</html>