<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style3.css">
  <title>Home</title>
</head>
<body>
  <header>
    <div class="container flex">
      <a href="/">E-Commerce</a>
      <!-- <a href="/users/logout" class="create">logout</a> -->
    </div>
  

  </header>
  <main class="container flex center">
    <div class="main">
    
      <h1>Welcome to E-Commerce</h1>
    </div>
    <div class="goto">
     <a href="/admin">
      Admin
     </a>
     <a href="/users">
      User
     </a>
    </div>
  </main>
</body>
</html>