<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <title>Home</title>
</head>
<body>
    <header>
      <div class="flex container space-between">
        <div>
          <a href="/" class="brand">E-Commerce</a>
        </div>
        <div>
          <a href="/users/userLogin" class="btn">Login</a>
          <a href="/users/userRegister" class="btn">SignUp</a>
        </div>
      </div>
    </header>
    <main>
      <h1>Welcome User</h1>
      <a href="/users/userProductList" class="btn text-center">Goto Products List</a>
    </main>
</body>
</html>