<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style1.css">
  <title>Articles List</title>
</head>
<body>
  <header>
    <div class="container flex">
      <a href="/">Article</a>
      <a href="/articles/new" class="create">Create Article</a>
    </div>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Articles List</h1>
    </div>
    <div class="container">
        <ul>
           <%articles.forEach(article=>{%>

            <li><%=article.title%></li>
            <div class="show">
                <a href="/articles/<%=article.id%>">Show</a>
            </div>

           <%})%>
        </ul>
    </div>

  </main>
</body>
</html>