<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style1.css">
  <title>Home</title>
</head>
<body>
  <header>
    <div class="container flex">
      <a href="/">Article</a>
      <a href="/articles/new" class="create">Create Article</a>
      <a href="/users/logout" class="create">logout</a>
    </div>
  

  </header>
  <main class="container flex center">
    <p class="login-msg"><%=error%></p>
    <div class="main">
    
      <h1>Welcome to My Blog</h1>
    </div>
    <div class="goto">
     <a href="/articles">
      Goto Articles
     </a>
    </div>
  </main>
</body>
</html>