<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>User</title>
</head>
<body>
    <header>
      <div class="flex container space-between">
        <div>
          <a href="/" class="brand">Home</a>
        </div>
        <div>
          <a href="/users/login" class="btn">LogOut</a>
          <a href="/users/" class="btn">back</a>
        </div>
      </div>
    </header>
    <main>
      <h1>Welcome to Course <%=user.username%> </h1>
    </main>
</body>
</html>